 Exercício 02 – Manipulando dados com Pandas

In [8]:
## a) Crie um programa em pandas para ler o arquivo em Excel imobiliária.xlsx
## b) e coloque em um dataframe.

import pandas as pd

caminho = "C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\Arquivos\\Imobiliária.xlsx"

df = pd.read_excel(caminho)

In [9]:
##c) Visualize o cabeçalho dos dados

df.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 8.1,Coluna 10
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

In [10]:
## d) Visualize as últimas linhas

df.tail()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 8.1,Coluna 10
1112,Sudeste,Cristina,2011-03-19,Apartamento,87.5,2,0,Não,221500,3322.5
1113,Sudeste,Simone,2011-03-20,Apartamento,74.5,2,2,Não,224400,3366.0
1114,Norte,João Carlos,2011-03-21,Apartamento,192.0,4,4,Não,361000,5415.0
1115,Leste,Simone,2011-03-27,Apartamento,42.0,1,1,Sim,167900,2518.5
1116,Oeste,Simone,2011-03-28,Apartamento,100.5,2,2,Sim,227600,3414.0

In [11]:
## e) Escreva um programa para renomear o cabeçalho da tabela com os
# seguintes nomes:

## outra forma de mudar as colunas, que neste caso terá que mudar todas as colunas

headers = [
    'Filial','Vendedor','data','tipo','area','dorms','garag','piscina','preco','comissao'
]

df.columns = (headers)
df.head(1)

,Filial,Vendedor,data,tipo,area,dorms,garag,piscina,preco,comissao
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5

#### g) 5. Quais são os tipos de dados que temos no dataframe?
#### h) 6. Há valores faltantes ou nulos?

In [12]:

# não há valores nulos, pois todos estão como 1117 que são os registros totais
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Filial    1117 non-null   object
 1   Vendedor  1117 non-null   object
 2   data      1117 non-null   datetime64[ns]
 3   tipo      1117 non-null   object
 4   area      1117 non-null   float64
 5   dorms     1117 non-null   int64
 6   garag     1117 non-null   int64
 7   piscina   1117 non-null   object
 8   preco     1117 non-null   int64
 9   comissao  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

In [13]:
df.describe()

,data,area,dorms,garag,preco,comissao
count,1117,1117.000000,1117.000000,1117.000000,1117.000000,1117.000000
mean,2008-06-24 03:30:08.057296384,125.965085,2.523724,1.646374,264131.602507,3961.974038
min,2005-10-08 00:00:00,25.000000,1.000000,0.000000,145100.000000,2176.500000
25%,2007-01-29 00:00:00,82.000000,2.000000,1.000000,213500.000000,3202.500000
50%,2008-06-08 00:00:00,127.000000,3.000000,2.000000,284300.000000,4264.500000
75%,2009-11-30 00:00:00,169.500000,3.000000,3.000000,314700.000000,4720.500000
max,2011-03-28 00:00:00,245.000000,4.000000,4.000000,384300.000000,5764.500000
std,NaN,53.290147,1.106603,1.233972,77249.578385,1158.743676

In [14]:
#calculando a soma da coluna preço

df['preco'].sum()

295035000

In [15]:
# Calculando a media da coluna preço
df['preco'].mean()

264131.6025067144

In [16]:
# Encontrar o maior valor da coluna Preço

df['preco'].max()

384300

In [17]:
# encontrar o menor valor da coluna preço

df['preco'].min()

145100

In [18]:
# Calculando a contagem de colunas
df['preco'].count()

1117

#### 8. Crie um programa para criar um dataframe para mostrar as vendas por
#### região, e salvar um arquivo em Excel para cada região.

In [19]:
# Gerar um relatório de venda da região CENTRO

# Filtrar os dados do "Centro"

df_final = df[df['Filial'] == 'Centro']

# Mapear o caminho final e definir um nome para o arquivo
# Neste caso será colocado o \\ no final do diretório também
caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'centro.xlsx'

# Salvar o arquivo na pasta

df_final.to_excel(caminho + arquivo)

In [20]:
# Filtrar por Noroeste

df_final = df[df['Filial'] == 'Noroeste']

caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'noroeste.xlsx'

df_final.to_excel(caminho + arquivo)

In [21]:
# Filtrar por Norte

df_final = df[df['Filial'] == 'Norte']

caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'norte.xlsx'

df_final.to_excel(caminho + arquivo)

In [22]:
df_final = df[df['Filial'] == 'Sudeste']

caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'sudeste.xlsx'

df_final.to_excel(caminho + arquivo)

In [23]:
df_final = df[df['Filial'] == 'Oeste']

caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'oeste.xlsx'

df_final.to_excel(caminho + arquivo)

In [24]:
df_final = df[df['Filial'] == 'Leste']

caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'leste.xlsx'

df_final.to_excel(caminho + arquivo)

In [25]:
df_final = df[df['Filial'] == 'Sudoeste']

caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'sudoeste.xlsx'

df_final.to_excel(caminho + arquivo)

In [26]:
df_final = df[df['Filial'] == 'Sul']

caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'sul.xlsx'

df_final.to_excel(caminho + arquivo)

In [28]:
df_final = df[df['Filial'] == 'Nordeste']


caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'nordeste.xlsx'

df_final.to_excel(caminho + arquivo)

In [42]:
# filtrar por vendas na região norte em 2010
# & = and
# | = or
df_final = df[(df['Filial'] == 'Norte')& 
(df['data'] >='2010-01-01')& 
(df['data'] <= '2010-12-31')]


caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'norte2010.xlsx'

df_final.to_excel(caminho + arquivo, index=False)

m) Gere um arquivo em Excel para representar as vendas efetuadas pela filial
Sudeste em 2010. Sendo que no relatório deve conter apenas vendas de casas
sem garagem.

In [49]:
df_final = df[(df['Filial'] == 'Sudeste')&
   (df['data']>= '2010-01-01')&
   (df['data']<= '2010-12-31')&
   (df['tipo'] == 'Casa')&
   (df['garag'] ==0)]

caminho = 'C:\\Users\\FIC\\Documents\\gabriel-eloi-python\\relatorios filiais\\'
arquivo = 'sudesteSemGaragem.xlsx'

df_final.to_excel(caminho + arquivo, index=False)

Qual o valor máximo de comissão que a imobiliária numa venda?

In [50]:
# Este código vai filtrar a tabela
# considerando o maior valor de comissão pago
# pela imobiliária, por meio da função max()

df[df['comissao']==df['comissao'].max()]

5764.5

o) Quantas casas de 2 ou 3 dormitórios foram vendidas pelo Ricardo antes de 2011.

In [60]:
df[(df['Vendedor'] == 'Ricardo')&
   (df['data'] < '2010-12-31')&
   (df['tipo'] == 'Casa')&
   ((df['dorms'] == 2)|(df['dorms'] == 3))]  # colocamos dois parênteses para ele identificar primeiro está condição para depois identificar as outras

,Filial,Vendedor,data,tipo,area,dorms,garag,piscina,preco,comissao
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
5,Oeste,Roberto,2005-10-17,Apartamento,124.0,3,2,Sim,294900,4423.5
8,Sudoeste,João Carlos,2005-10-21,Casa,137.5,3,1,Não,294800,4422.0
10,Norte,Cristina,2005-10-30,Apartamento,136.5,3,1,Não,288800,4332.0
12,Centro,Adriana,2005-11-01,Casa,191.0,3,3,Sim,298600,4479.0
...,...,...,...,...,...,...,...,...,...,...
1084,Sudoeste,João Carlos,2011-02-01,Casa,124.5,3,3,Não,304200,4563.0
1103,Leste,João Carlos,2011-03-03,Casa,168.0,3,1,Não,296500,4447.5
1105,Oeste,Roberto,2011-03-06,Casa,125.5,3,3,Sim,305000,4575.0
1106,Norte,Simone,2011-03-09,Apartamento,144.5,3,2,Sim,298400,4476.0
1108,Sudeste,Cristina,2011-03-12,Casa,185.5,3,1,Não,297500,4462.5