## Listas

In [1]:
alunos = ['Ana', 'Amanda','Bruno', 'João']
notas = [10, 9, 8, 7]

In [5]:
# Exibir o primeiro nome da lista alunos

alunos[0]

# Exibir a terceira nota da lista notas

notas[2]

8

## Lista (list) - Acessando itens

In [10]:
# Selecionar uma fatia dos dados (Amanda e Bruno)
# lista[posição_inicial : posição_final +1]
# A primeira posição é a partir do nome que ele vai mostrar e a segunda é o limite de mostragem (não vai mostrar)

alunos[1:3]

['Amanda', 'Bruno']

In [7]:
# Selecionar apenas os nomes Bruno e João
alunos[2:]

['Bruno', 'João']

## Identificando o tipo de informação

In [11]:
type(notas)

list

In [15]:
type(notas[0])

int

## Lista (list) - Conversão para string

Para converter uma lista em STRING, nós utilizamos o comando JOIN

In [1]:
supermercado = ['Batata', 'Óleo', 'Margarina', 'Café']

listaConvertida = ';'.join(supermercado)

print(listaConvertida)
print(type(listaConvertida))

Batata;Óleo;Margarina;Café
<class 'str'>

## Convertendo Lista (list) - string para lista

In [5]:
lista = listaConvertida.split(';')

print(lista)
print(type(lista))

['Batata', 'Óleo', 'Margarina', 'Café']
<class 'list'>

Tuplas (tuple)
- Criamos utilizando parênteses

- Separamos os elementos por vírgula

- Após sua definição, não podemos alterar sua estrutura

In [6]:
valores = (90, 79, 54, 32, 21)
pontos = (100, 94.05, 86.08, 62)

print(type(valores))

print(type(pontos))

<class 'tuple'>
<class 'tuple'>

In [7]:
valores[0] = 30

TypeError: 'tuple' object does not support item assignment

## Tuplas (tuple) - Outros exemplos

In [9]:
my_list = [1,2] # Criando uma lista - Aceita alterações

my_tuple = (1,2) # Criando uma tupla - Não aceita alterações

# Alterando o elemento de posição 1 da lista
#Listas permitem a sua alteração
my_list[0] = 10

print(my_list)

#Alterar um elemento de uma tupla

try:
    my_tuple[1] = 3

except TypeError:
    print('Não possível modificar uma tupla')

[10, 2]
Não possível modificar uma tupla

## Criando uma função com tuplas

In [10]:
# def - definição da função que você esta criando
def sum_and_product (x, y):
    return (x + y), (x * y)

In [11]:
sum_and_product(10,5)

(15, 50)

## Dicionários (dict)

Dict é um tipo de dado muito flexível do Python.
Eles são utilizados para agrupar elementos através da estrutura de chave e valor,
onde a chave é o primeiro elemento seguido por dois pontos e pelo valor.
Vamos ver alguns exemplos:

In [12]:
altura = {
    'Amanda': 1.65,
    'Ana': 1.60,
    'João': 1.50,          
}

peso = {
    'Amanda': 60,
    'Ana': 58,
    'João': 100              
}

print(type(altura))
print(type(peso))

<class 'dict'>
<class 'dict'>

In [14]:
# Acessar informações do dicionario

print(altura['Ana'])
print(peso['Ana'])

1.6
58

## Exercício 05 - Crie um dicionário chamado cardápio em que as chaves são os
dias da semana e os respectivos valores sejam os pratos do dia.

In [15]:
cardapio = {

    'seg': ['vatapá, sororó, linguado'],
    'terça': ['strogonoff, pastel, linguiça'],
    'quarta': ['parmegiana, arroz com feijao, batata frita'],
    'quinta': ['frango ao molho, carne a parmegiana, batata recheada'],
    'sexta': ['pastel, coxinha, kibe'],
    'sabado': ['feijoada, vinho quente, cachaça'],
    'domingo': ['lasanha, frango a passarinho, arroz com batata']
}

print(cardapio['seg'])

['vatapá, sororó, linguado']